<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fantasy</title>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    <div class="divClassifications" id="divClassifications">

    </div>



    <footer class="footer">
        <a href="/Views/home.html" class="footer-option">Inici</a>
        <a href="pagina1.html" class="footer-option">Jugadors</a>
        <a href="/Views/team.html" class="footer-option">Equip</a>
        <a href="/Views/classifications.html" class="footer-option" style="background-color: green">Classificacions</a>
        <a href="pagina1.html" class="footer-option">Resultats</a>
        <a href="/Views/market.html" class="footer-option">Mercat</a>
    </footer>

    <script type="module" src="../Scripts/classifications.js"></script>
</body>
</html>