<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fantasy</title>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    <p>Team</p>

    <div id="divTeamHome" class="divTeamHome">
        <h2>Equip</h2>
        <div id="divCurrentTeam" class="divCurrentTeam">
            <div id="playersJ" class="playersJ">
                <div id="playerJ1" class="playerJ1">

                </div>
                <div id="playerJ2" class="playerJ2">

                </div>
            </div>
            <div id="playerP" class="playerP">

            </div>
        </div>
        <br /><br /><br />
        <h2>Banqueta</h2>
        <div id="divPlayersTeam" class="divPlayersTeam"></div>

        <br /><br />
        <button id="saveChangesButton" class="save-button">Guardar</button>

    </div>




    <footer class="footer">
        <a href="/Views/home.html" class="footer-option">Inici</a>
        <a href="pagina1.html" class="footer-option">Jugadors</a>
        <a href="/Views/team.html" class="footer-option" style="background-color: green">Equip</a>
        <a href="/Views/classifications.html" class="footer-option">Classificacions</a>
        <a href="pagina1.html" class="footer-option">Resultats</a>
        <a href="/Views/market.html" class="footer-option">Mercat</a>
    </footer>

    <script type="module" src="../Scripts/team.js"></script>
</body>
</html>